@page "/Account/Register"

@inject NavigationManager _nav
@inject IAuthRepository _AuthRepository
 
@if (IsFields == true)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong> Something went wrong </strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<EditForm Model="user" OnValidSubmit="HandleRegistration">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="form-group">
        <label>First Name </label>
        <InputText @bind-Value="user.FirstName" class="form-control" />
    </div>
    <br/>
    <div class="form-group">
        <label>Last Name </label>
        <InputText @bind-Value="user.LastName" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <label>Email </label>
        <InputText @bind-Value="user.Email" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <label> Password </label>
        <InputText @bind-Value="user.Password" class="form-control" />
    </div>
    <br />
    <button type="submit" class="btn btn-success"> Submit </button>

</EditForm>

@code {
    UserDTO user = new UserDTO();

    bool IsFields = false;

    protected async Task HandleRegistration()
    {
        var response = await _AuthRepository.Register(user);
        if (response)
        {
            _nav.NavigateTo("/Account/Login");
        }
        else
        {
            IsFields = true;
        }
    }
}